@model IEnumerable<MovieViewModel>
@{
    ViewData["Title"] = "Rental Records Page";
}

<h1>@ViewData["Title"]</h1>

@foreach(var item in Model)
{
    <p>@item.MovieName</p>
    <p>@item.MovieDescription</p>
    <p>@item.GenreName</p>
    <a asp-controller="RentalRecord" asp-action="Create" asp-action="@item.MovieID"><button>Rent</button></a>

}