@model IEnumerable<videoStore.Models.MovieViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OtherOther</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
